<mat-toolbar>
    <div class=menu>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="flexExpand"></span>
	<span flex></span>
    <div class=toolbar_items>
        <button mat-button>
            <mat-icon>circle_notifications</mat-icon>
        </button>
        <button mat-button routerLink="/login">
            <mat-icon>logout</mat-icon>
            Logout
        </button>
        <button mat-button routerLink="/signup">
            <mat-icon>fingerprint</mat-icon>
            Signup
        </button>
        <button mat-button routerLink="/login">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </div>
</mat-toolbar>