<div class="message" *ngIf="auth.user$ | async as user" >
  <ul>
    <p class="p1"> My Messages To Space </p>
  </ul>
  <br><br>
  <div class="btn" *ngIf="reply_available==0">
    <button mat-raised-button (click)="ToggleComment(1)" >New Message</button>
  </div>
  <div id="respond" *ngIf="reply_available==1">
    <form action="post_comment.php" method="post" id="commentform">

      <label for="comment" class="required">Your message</label>
      <br>
      <textarea name="comment" id="comment" rows="10" tabindex="4" [(ngModel)] = "user_message_content"  required="required"></textarea>
      <br>
      <input name="submit" type="submit" value="Submit comment" (click)="addMessage(user_message_content)"/>
      <button (click)="ToggleComment(0)" >Close</button>
    </form>
  </div>
  <div *ngFor="let message of messageList">
    <br>
    <div class="messagebody">
      <br>
      <p class="p2"> {{ message.message_content }} </p>
      <div class="btn">
        <div *ngIf="update_reply_available==0">
          <button mat-raised-button (click)="ToggleUpdateComment(message.message_id)" > Update Message</button>
          <div class="divider"> </div>
          <button mat-raised-button (click)="deleteMessage(message.message_id)" > Delete Message</button>
        </div>
      </div>
    </div>
    <div id="respond" *ngIf="update_reply_available==message.message_id">
      <form action="post_comment.php" method="post" id="commentform">
        <label for="comment" class="required">Your message</label>
        <br>
        <textarea name="comment" id="comment" rows="10" tabindex="4" [(ngModel)] = "user_message_content" required="required"></textarea>
        <br>
        <input name="submit" type="submit" value="Submit comment" (click)="updateMessage(message.message_id,user_message_content)"/>
        <button (click)="ToggleUpdateComment(0)" > Close</button>
      </form>
    </div>
    <div *ngFor="let reply of replyList">
      <div class="comment" *ngIf="reply.message_id == message.message_id">
        <label for="comment" class="required"> Username:{{reply.reply_id}}</label>
        <br>
        <p class="p3"> {{ reply.reply_content }} </p>
      </div>
    </div>
  </div>
</div>



