
<! --<video autoplay muted>
  <! --<source src="../assets/video2.mp4" type="video/mp4">
  <! --</video>
<div>
  <img class="img1" src='../assets/background4.png'>
</div>
<div>
  <img class="img2" src='../assets/background5.png'>

</div>

<div class="btn">
  <button mat-button routerLink="/login">
    <mat-icon>login</mat-icon>
    <p class="p1">Start Now</p>
  </button>
</div>

<div class="text">
  <h1>
    <p class="p2"[@fadeInThenOut1]>
      Welcome to Space!
    </p>
    <p class="p3" [@fadeInThenOut2]>How are you feeling?</p>
    <p class="p3" [@fadeInThenOut3]>Do you have something to share?</p>
    <p class="p3" [@fadeInThenOut4]>You can share your feelings or whatever you have on your mind with space.</p>
    <p class="p3" [@fadeInThenOut5]>A mysterious being might answer you...</p>
  </h1>
</div>

