
.planet1 {
  width: 18%;
  height: auto;
  padding:2%;
}
.planet2 {
  width: 22%;
  height: auto;
  background:transparent;
  padding:2%;
}
.planet3 {
  width: 27%;
  height: auto;
  padding:2%;
}
.planet4 {
  width: 17%;
  height: auto;
  padding:2%;
}


