<div class="mainDiv">
  <button (click)="showList()" id="allUsersBtn">Tournament</button>

  <div class="buttons">
    <button (click)="filterResults(underFifty)" >Points under < 50</button>
    <button (click)="filterResults(aboveFifty)" >Points above > 50</button>
    <input #search (keyup)="searchFunc(search.value)" id="search" type="text" placeholder="Search Name" >
  </div>
  <div *ngIf="showBool">
    <ul *ngFor="let user of copypointList">
        <li>User ID: {{user.user_id}}<br>
        Total points: {{user.point_amount}}</li>
    </ul>
  </div>
</div>
