<div *ngIf="auth.user$ ">
    <img
      class="planet1"
      (click)="changeStateplanet1()"
      [@balloonEffect]="currentState1"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    >
    <div
      class="planet2"
      (click)="changeStateplanet2()"
      [@balloonEffect]="currentState2"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    ></div>
    <div
      class="planet3"
      (click)="changeStateplanet3()"
      [@balloonEffect]="currentState3"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    ></div>
    <div
      class="planet4"
      (click)="changeStateplanet4()"
      [@balloonEffect]="currentState4"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    ></div>
 </div>

