<div *ngIf="auth.user$ ">
    <div
      class="planet1"
      (click)="changeStateplanet1()"
      [@balloonEffect]="currentState1"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    > <p style="font-family:verdana" style="font-size:30px">Earthy</p>
    </div>
    <div
      class="planet2"
      (click)="changeStateplanet2()"
      [@balloonEffect]="currentState2"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    > <p style="font-family:verdana" style="font-size:30px">Sunny</p>
  </div>
    <div
      class="planet3"
      (click)="changeStateplanet3()"
      [@balloonEffect]="currentState3"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    > <p style="font-family:verdana" style="font-size:30px">Moody</p>
  </div>
    <div
      class="planet4"
      (click)="changeStateplanet4()"
      [@balloonEffect]="currentState4"
      (@balloonEffect.done)="onAnimationEvent($event,'done')"
    > <p style="font-family:verdana" style="font-size:30px"> Supiter</p>
  </div>
 </div>

