.space {
  width: 100%;
  height: 100%;
}
.planet1 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 3rem;
  background-image: url(https://toppng.com/uploads/preview/planet-earth-115328739276hapribchm.png);
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 2;
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}
.planet2 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 3rem;
  background-image: url(https://toppng.com/uploads/preview/planet-earth-115328739276hapribchm.png);
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  z-index: 2;
  position: absolute;
  margin-top: 30%;
  margin-left: 30%;
}
.planet3 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 3rem;
  background-image: url(https://toppng.com/uploads/preview/planet-earth-115328739276hapribchm.png);
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 2;
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
}
.planet4 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 3rem;
  background-image: url(https://toppng.com/uploads/preview/planet-earth-115328739276hapribchm.png);
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  z-index: 2;
  position: absolute;
  margin-top: 20%;
  margin-left: 70%;
}


